<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-browsers-menu" label="Browsers">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item label="Eclipse">
    <action name="Execute">
      <command>eclipse</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Rxvt Unicode">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
</menu>

<menu id="apps-game-menu" label="Games">
  <item label="Dolphin">
    <action name="Execute">
      <command>dolphin-emu</command>
    </action>
  </item>
</menu>

<menu id="apps-printing-menu" label="3D Printing">
    <item label="OpenSCAD">
        <action name="Execute">
            <command>openscad</command>
        </action>
    </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-browsers-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-game-menu"/>
  <menu id="apps-printing-menu"/>
  <separator label="Config" />
  <item label="Configure Audio">
    <action name="Execute">
      <command>pavucontrol</command>
    </action>
  </item>
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
